{% extends 'shema.html' %}
{% block podnaslov %}Vislice{% endblock %}
{% block vsebina %}
    <p>
        Tukaj bo slika #{{session['slika']}}
    </p>
    <p>
        {% for znak in session['beseda'] %}
            {% if znak in session['ugibal'] %}
                {{znak}}
            {% else %}
                _
            {% endif %}
        {% endfor %}
    </p>
    <p>
        {% for crka in vse_crke %}
            {% if crka not in session['ugibal']%}
                <a href="/vislice/{{crka}}"><button>{{crka}}</button></a>
            {% endif %}
        {% endfor %}
    </p>
{% endblock %}
